{
    "arrowParens": "always",
    "singleQuote": true,
    "semi": true,
    "trailingComma": "es5",
    "plugins": [
        "@trivago/prettier-plugin-sort-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@mfb/(.*)$",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true,
    "tailwindFunctions": []
}